/* Змінна для висоти хедера */
:root {
  --header-height: 120px; /* Задаємо висоту хедера */
}

/* Хедер */
.headerWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

/* Крихти */
.breadcrumbWrapper {
  margin-top: var(--header-height);
  /* Відступ після хедера */
  padding: 10px 20px;
  background-color: #f9fcfb;
  border-bottom: 1px solid #ddd; /* Розділ між крихтами та контентом */
  z-index: 999;
}

/* Основний контент */
.mainContainer {
  margin-top: calc(
    var(--header-height) - 150px
  ); /* Відступ для хедера та крихт */
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f9fcfbf3;
}
